* { margin: 0; padding: 0;}
ul,li { list-style-type: none;}
html,body{ width: 100%; height: 100%; background: #ededed;  font-family: Microsoft Yahei; font-size:14px;}
a{ text-decoration: none; transition:all .2s ease-in-out; }


.marT180{padding-top: 180px;}
.padB200{padding-bottom: 200px; border-bottom:1px solid #efefef; }
.wrap1000{ max-width: 1200px; margin:0 auto; text-align: center;  overflow: hidden; }
.info-title{ text-align: center; letter-spacing: 1px; color: #404040; letter-spacing: 3px; font-size:26px; font-weight: bold; line-height: 48px;  }
.info-con{padding:0 20px;box-sizing: border-box; color: #777; font-weight: 300; font-size: 16px; letter-spacing: 1px; line-height: 1.66em; margin:0 auto; text-align: center;}
hr{ display: block; border:none; margin:30px auto;  width: 40px; background:#ccc; height: 2px;  }
.button{ display: inline-block; color: #ededed; padding: 13px 40px; letter-spacing: 2px;  font-size: 16px; margin-top: 40px;}
.button a{color: #555;}
.button:hover a{color: #fff;}
.title-top{ display: block; margin:0 auto 20px; animation:title-img 2s infinite linear; }



.footer{background: #3d4045; overflow: hidden; padding: 50px 0 0;}
.footer-logo{margin-top: 50px; float: left}
.address{float: right; overflow: hidden; text-align: left; }
.address li{ float: left; width: 220px; padding:0 10px; box-sizing: border-box; }
.address li h2{color:#efefef; font-weight: 300; font-size: 15px; letter-spacing: 2px; margin-bottom: 10px;}
.address li p{color:#999; line-height: 28px;}
.footer-bottom{height: 50px; margin-top: 50px; background: rgba(0,0,0,.3);}
.copyright{float: right; line-height: 50px; font-size: 12px; color: #999;}
.copyright a{color: #999}
.foot-nav ul{overflow: hidden; float: left}
.foot-nav ul li{line-height: 50px; float: left;}
.foot-nav ul li a{ padding:0 10px; color: #999; font-size: 12px; }

.fa{font-size: 40px; }


@keyframes title-img
{
0% {transform: translateY(15px);}
50%{transform: translateY(0px);}
100%{transform: translateY(15px);}
}

/*导航*/
.nav{ position: fixed; top:0; left:0; width: 100%; height:90px; z-index: 999; line-height: 90px; transition: all .2s  }
.nav .wrap1000{overflow: visible}

.nav-logo{float: left; margin-top: 20px; height: 58px; }
.nav-logo img{display:block; height: 100%;}
.nav-text{float: right;  }

.nav-text ul .sub-menu{float: left; position: relative; margin:0 15px;}
.nav-text ul .sub-menu a{color:#fff; padding:5px 5px;}
.nav-text ul .sub-menu a.act{border-bottom:1px solid #f97352;}
.nav-text ul .sub-menu a:hover{border-bottom:1px solid #ccc;}
.nav-bg{ background:#333; height: 60px; line-height: 60px; box-shadow: 0 5px 5px rgba(0,0,0,.09); }
.nav-bg ul .sub-menu a{color:#fff;}


.nav-text ul .sub-menu ul{opacity: 0; padding:0 10px;box-sizing: border-box; transition: all .2s; height: 0; overflow: hidden; position: absolute;top:100%;left:0; width:200px; background: #333; border-top:2px solid #2570c3; }
.nav-text ul .sub-menu ul li{float: none; text-align: left; height: 50px;line-height: 50px;}
.nav-text ul .sub-menu ul li a{color: #888;}
.nav-text ul .sub-menu:hover ul{display: block; opacity: 1; height:auto;}
.nav-text ul .sub-menu ul li:hover a{ color: #fff; border: none; }

.nav-bg .nav-logo{height: 50px; margin-top: 5px;}

.banner { width: 100%; height: 100%; margin: 0 auto;}
.banner ul li{ background-size: cover;  }
.slide-content-bg{ width: 100%; height: 100%; background:rgba(0,0,0,.3); }
.slide-content{position: absolute;  height: 300px; width: 70%; left:0;bottom: 0; right: 0; top: 0; margin:auto; text-align: center; color:#fff;}
.banner-title{ font-size:3.125em; margin-bottom: 20px;  }
.banner-info{ font-size:25px; font-weight: 300; line-height: 40px;} 
.slide-content .button{background-color:#e86b4c; display: inline-block; color: #ededed; }
.slide-content .button:hover{ background: #e86b4c }


.about{ background:#fff; }
.about-info{ width: 70%; }
.about .button{color:#666; border:1px solid #555;}


.advantage{background: #fff}
.adv-title{background: #333; padding:60px 0;color:#efefef;  } 
.advantage .info-con{ color:rgba(255,255,255,.8); }
.adv-main{ overflow: hidden; }
.adv-main .item{ width: 33.33%; float: left; height: 550px; }
.adv-main .item1{ background: #3edbd9; }
.adv-main .item2{ background: #3a98fe; }
.adv-main .item3{ background: #5841b8; }
.item{ cursor: pointer; }
.item hr{ background: #fff; margin-top: 0px; }
.item i {display: block; margin-top:120px;}
.item i img{ display: block; margin:0 auto; }
.item .info-title{ color:#fff; font-size:23px; margin-top: 20px; }
.advantage ul{ width: 100%; overflow: hidden; margin-top: 100px; }
.advantage ul li{ float: left;width: 25%; padding:0 10px; box-sizing: border-box; }
.advantage ul li i{display: block; transition: all .2s;  cursor: pointer; font-size: 50px; color:#333; width: 80px; line-height: 80px; height: 80px; margin:0 auto; border-radius: 50%}
.advantage ul li i:hover{ background: #e96656; color:#fff; }
.advantage ul li:nth-child(2) i:hover{ background: #34d293; }
.advantage ul li:nth-child(3) i:hover{ background: #3ab0e2; }
.advantage ul li:nth-child(4) i:hover{ background: #5841b8; }
.advantage ul li .con-title{ font-size: 16px; line-height: 80px; color:#666; font-weight: 600; }
.advantage ul li .info-con{ color:#666; }

.huanjing{ background:#f0f0f0; border-bottom: 1px solid #efefef; }
.huanjing .button{ border:1px solid rgba(0,0,0,.8); color:rgba(0,0,0,.8); }
.huanjing .button:hover{ background: rgba(0,0,0,.8); color: #fff; }
.huanjing ul{ overflow: hidden; margin-top: 50px; }
.huanjing ul li{ float: left; width: 33.333333%;padding:2%; box-sizing: border-box;  cursor: pointer; }
.huanjing ul li .hj-img{position: relative; width: 100%; height: 100%; overflow: hidden;}
.huanjing ul li img{display: block; width: 100%;}

.hj-info{position: absolute;  transition:all .2s ease-in-out; top:100%; right: 0; width: 100%; height: 100%;background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 85%)!important }
.hj-img p{position: absolute; transition:all .3s ease-in-out; bottom:-30px; right: 0; height: 30px; line-height: 30px; width: 100%;  color:#fff; font-size: 15px; }


.huanjing ul .hj-img:hover .hj-info{ top:0; transition:all .2s ease-in-out; }
.huanjing ul .hj-img:hover  p{bottom:10px;}

.zhaopin{ background: #335567 }
.zhaopin .info-title,.zhaopin .info-con{color:#ededed;}
.zhaopin .button{ background: #f97352 }
.zhaopin .button a{color:#fff;}
.case{background: #fff;}
.case .info-con{text-align: center;}
.case .info-con img{display: inline-block; padding:0 40px; opacity: .6; transition:all .3s; cursor: pointer;}
.case .info-con img:hover{opacity: 1}
.case .button{background: #2570c3}
.case .button a{color: #fff}


/*公司介绍页面*/
.b-title{ line-height: 300px;  margin:0 auto; font-size: 40px; text-align: center; color: rgba(255,255,255,.6); letter-spacing: 2px }





.jieshao-banner{ background: url(../images/jieshao.jpg) center; height: 300px; }
.huanjing-banner{ background: url(../images/huanjing.jpg) center; height: 300px; }
.zhaopin-banner{ background: url(../images/zhaopin.jpg) center; height: 300px; }
.contact-banner{ background: url(../images/contact.jpg) center; height: 300px; }
.jieshao-mian .wrap1000{ background: #fff; padding:80px 100px  120px; box-sizing: border-box; margin-bottom: 100px; }


/* 发展历程时间线*/
.time-line{ overflow:hidden; text-align: left; }
.time-line ul{ margin:50px 0 0 200px; }
.time-line li{ float:none; overflow: hidden; }
.time-line li .time{padding-top: 20px;position: relative; font-size:25px;  width:100px; float: left;}
.time-line li .time em{ font-size: 15px; font-style: normal;}
.time-line li .time i{position: absolute; right: -8px; top:32px; display: block; background: #ccc;  width: 16px; height: 16px; border-radius: 50%;}
.time-line .time-con{padding: 20px;float: left; border-left: 1px solid #ccc; line-height: 28px; color: #666;}

.sub-nav ul{overflow: hidden; margin-bottom: 50px; width: 100%; text-align: center;}
.sub-nav ul li{ display: inline-block; margin: 0 15px;}
.sub-nav ul li a{ color:#666; font-size: 16px; display: inline-block; border: 1px solid#ccc; padding:10px 30px; border-radius: 5px; }
.sub-nav ul li a.act{background: #0E8CFD; color: #fff; border-color: #0E8CFD;}
.sub-nav ul li a:hover{ background: #2570c3; color: #fff; border-color: #2570c3; }

/* 环境*/
.view{overflow: hidden; margin-bottom: 60px;}
.view h2{ font-size: 30px; font-weight: 200; color:#666; }
.view span{font-size: 16px; font-weight: 100; color: #666; line-height: 50px; }
.view-info{overflow: hidden; margin-bottom: 60px;}
.view-info h2{ font-size: 30px; font-weight: 200; color:#666; }
.view-info span{font-size: 16px; font-weight: 100; color: #666; line-height: 50px; }
.view-info p{text-indent: 2em; line-height: 28px; font-size: 16px; text-align: left; color:#666; margin-top: 20px; }
.view-info .zhaiyao{ text-align: center;  margin-bottom: 50px}
.view-info .zhaiyao p{text-indent: 0;}
.view-info{width: 100%;cursor: pointer;}
.view-img .hj-img p{text-align: center; color: #fff; text-indent: 0}
.view-img img{ display: block; width: 100%; cursor: pointer; }
.view-img:nth-child(3){width: 100%}
.v-left{float: left; width: 50%; position: relative;}
.v-right{float: left; width: 50%}
.v-right li{ width: 50%; float: left; position: relative; }
.hj-img:hover .hj-info{ top:0; transition:all .2s ease-in-out; }
.hj-img:hover  p{bottom:10px;}

.hj-con{text-align: left;}
.hj-con h2{ color:#666;line-height: 40px; font-weight: 400 }
.hj-con p{font-size: 14px; line-height: 28px; color: #666;}

/* 招聘*/
.job{overflow: hidden;}
.job-info{width: 50%; height: 700px; float: left; text-align: left;padding: 40px; box-sizing: border-box; border-bottom: 1px solid #efefef;}
 
.job-title-cn{ font-size: 20px;color: #0E8CFD; font-weight: 400; letter-spacing: 2px; }
.job-title-en{ font-size: 14px; color: #333; line-height: 35px;}
.job-location{color: #0E8CFD; font-size: 16px; margin:20px 0;}
.job-sub-title{ font-size: 18px; color: #666; margin:20px 0; }
span.job-descr{line-height: 28px; color: #777; font-weight: 400;}


.view-info .address{ text-align: left; float: none; border-top: 1px solid #efefef; padding-top: 50px;}
.view-info .address li{ width: 25% }
.view-info .address li h2{ font-size: 16px; color: #666; font-weight: 400; }
.view-info .address li p{ text-indent: 0;  font-size: 14px; line-height: 28px; margin:0;}


/*map页面*/
.map{text-align: left; border-bottom: 1px solid #efefef; margin-bottom: 60px; font-size: 16px; line-height: 40px;}
.map a{color:#333;}


